<%= link_to "#help", role: "button", data: {toggle: "modal"} do %>
  <i class="glyphicon glyphicon-question-sign"></i>
<% end %>

<div id="help" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render partial: "help_modal" %>
</div>

<%= form_tag root_path(), name: "search_form", method: :get, class: "form-horizontal" do %>
  <%= render partial: "area_select" %>

  <button class="btn btn-default" type="submit">search</button>
<% end %>

<% if @result_hotels.present? %>
<% @result_hotels.each do |hotel_name, hotels| %>
  <%= render partial: "hotel_info", locals:{hotel_name: hotel_name, hotels: hotels} %>
<% end %>
<% end %>