<%= form_tag root_path(), name: "search_form", method: :get, class: "form-horizontal" do %>
  <%= render partial: "index/area_select" %>

  <button class="btn btn-default" type="submit">search</button>
<% end %>


<% if @result_hotels.present? %>
<%= paginate @result_hotels %>
<% @result_hotels.each do |hotel| %>
  <%= render partial: "hotel_info", locals:{hotel_name: hotel[0], hotels: hotel[1]} %>
<% end %>
<%= paginate @result_hotels %>
<% end %>